$color-grey: #C4C4C4;
$color-green: #009C41;
$color-darkblue: #1D4076;
$color-orange: #FF7728;


body {
  background: $color-grey;
  color: #ffeee7;

  h1 {
    width: fit-content;
    margin: 0 auto;
  }
}





